/*jj228 20/02/2018*/
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
    padding-top: 56px;
}
@font-face {
    font-family: "Open Sans";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"), url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}
body {
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}
body {
    background: #3478A2;
    background: -webkit-linear-gradient(to right, #23A382, #3478A2);
    background: linear-gradient(to right, #ccb9a3, #dcd6ca);
}
header div h1 {
    color: white;
    font-size: 80px;
    text-shadow: 0px 0px 15px yellow;
}
header div h2 {
    color: #ffffff;
    text-shadow: 0 0 3px #ffffff;
}
h2 {
    color: #212529;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
h5 {
    text-align: center;
    color: white;
}
p {
    color: white;
}
blockquote {
    color: white;
    font-family: "Times New Roman"}
li {
    color: white;
    font-family: "Times New Roman"}
address {
    color: #424242;
}
* {
    box-sizing: border-box;
}
.column {
    float: left;
    width: 50%;
    padding: 10px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media (max-width: 600px) {
    .column {
    width: 100%;
}
}
#map {
    border: white solid 10px;
    margin: 10px;
    width: 50%;
    height: auto;
}
#logo {
    padding-right: 20px;
    max-height: 45px;
}
#flower-about {
    width: 100%;
    height: auto;
    border: white solid 10px;
    margin-top: 50px;
}
.btn-primary {
    background: #393B3F;
    border: transparent;
}
.btn-primary:hover {
    background-color: #A18773;
}
.btn {
    font-weight: 600;
}

.btn:hover {
    text-decoration: none;
    background-color: #dad2c5;
}

.btn:not(:disabled):not(.disabled):active {
    background-image: none;
    background-color: white;
}

.card {
    background-color: #C55E7E;
}
.business-header {
    height: 50vh;
    min-height: 300px;
    display: flex;
    align-items: center;
    background: url("../images/bouqet.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.py-5 {
    width: 100%;
    height: 150px;
    position: bottom;
    bottom: 0;
    left: 0;
    margin-top: 60px;
}
 .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}
a {
    text-decoration: none;
    color: #fff;
}
p > a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}
.footer-social-icons {
    width: 100%;
    display: block;
    margin: auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-left: 380px;
    vertical-align: middle;
    margin: 0;
    top: 50%;
    left: 50%;
}
.social-icons li {
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-google-plus {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}
